html
	head
		title Welcome to ProyectoWeb

	body
		p Welcome!! :)
		form
			p User 
				input(type="text", name="user")
			p File 
				input(type="file", name="name")
			button(type="submit" method="post") Upload